%h1 Listing cards_import_jobs

%table
  %thead
    %tr
      %th Version
      %th Status
      %th
      %th
      %th

  %tbody
    - @cards_import_jobs.each do |cards_import_job|
      %tr
        %td= cards_import_job.version.name
        %td= cards_import_job.status
        %td= cards_import_job.created_at
        %td= cards_import_job.updated_at
        %td= link_to 'Show', cards_import_job
        %td= link_to 'Edit', edit_cards_import_job_path(cards_import_job)
        %td= link_to 'Destroy', cards_import_job, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Import job', new_cards_import_job_path
