= simple_form_for(@card) do |f|
  = f.error_notification

  .form-inputs
    = f.input :code
    = f.input :cost
    = f.input :name
    = f.input :card_class
    = f.input :card_set
    = f.input :card_type
    = f.input :race
    = f.input :rarity
    = f.input :collectible
    = f.input :card_text
    = f.input :attack
    = f.input :health
    = f.input :durability

  .form-actions
    = f.button :submit
